<% content_for :title do %>Practice Schedule<% end %>
<h1>Practice Schedule</h1>
<%if @practices%>

  
<table class="obj_list" width="100%">

  <%month = 0%>
  <%time = ""%>
  <%p_date = ""%>
  <%@practices.each_with_index do |practice, i|%>
  <%unless ( practice.time == time && practice.date == p_date ) %>
  <%if practice.created_at.month != month%>
  <tr>
    <th colspan="3"> <%=practice.created_at.strftime("%B").upcase%></th>
    <th> Team Asisted By</th>
    <th> Team Asisted By</th>
  </tr>
  <%end%>

  <tr>
    <%if practice.date != p_date%>
    <td width="60"><%=practice.created_at.strftime("%A")%></td>
    <td width="120"><%=practice.created_at.strftime("%d %B %Y")%></td>
    <td width="70"><%=practice.time%></td>
    <%else%>
    <td colspan="2"></td>
    <td><%=practice.time%></td>
    <%end%>
    <td>
      <%=practice.team_name%> 
      <%if practice.team %>
      <br>Launch Driver: <%= practice.launch_driver %> 
      <br>Steers Person: <%=practice.steers_person%>
      <%end%>
    </td>
    <td>
      <%next_p =  @practices[i+1]%>
      
      <%if  next_p && (next_p.time == practice.time) && (next_p.date==practice.date)%>
     
      <%practice = next_p%>
            <%=practice.team_name%>
            <%if practice.team %>      
            <br>Launch Driver: <%= practice.launch_driver %> 
            <br>Steers Person: <%=practice.steers_person%>
            <%end%>
      <%end%>
    </td>
    </tr>
  <%month = practice.created_at.month%>
  <%time = practice.time%>
  <%p_date = practice.date%>
  <%end%>
  <%end%>
</table>

<%end%>