<% content_for :title do %>Manage Practices : Show Practice Schedule<% end %>
<div>
  <%= render :partial => 'member/boats/submenu/menu'%>
</div>

<h1><%=@current_day.strftime("%d %B %Y")%> - Practice Schedule</h1>
<div class="instructions">
  <%= render :comatose=>'practice-schedule-instructions', :silent=>true %>
</div>

<table cellspacing=1 cellspadding=1 class="day">
  <tr>
    <th>Time</th>
    <th width="250"></th>
  </tr>
  <%allow_edit = current_user.teams.include?(@team)%>
  <%@practices.each do |p|%>
  <tr>
    <%if p.team_id == @team.id%>
     <td class="specialDay-current_reserved">
       <%if allow_edit%>
        <%=link_to p.time, member_team_practices_path(@team.id,'edit_scheduled_time', p.id), :title=>"Click to edit scheduled time"%>
       <%else%>
         <%= p.time %>
       <%end%>
     </td>
     <td class="other"><%=p.team_name.capitalize%></td>
     <%elsif p.team_id.nil?%>
    <td class="specialDay-available">
      
      
      <%if allow_edit%>
        <%=link_to p.time, member_team_practices_path(@team.id,'edit', p.id), :title=>"Click to reserve this time for your team"%>
       <%else%>
         <%= p.time %>
       <%end%>
    </td>
     <td class="other"></td>
    <%else%>
    <td class="specialDay-full"><%=p.time%></td>
    <td class="other"><%=truncate(p.team_name.capitalize)%></td>
    <%end%>
  </tr>
<%end%>
</table>

<%= link_to 'Back', member_team_practices_path(@team)%>
