<h1>The ticket#<%= @ticket.id %> has been created.</h1>


Ticket Details:
<p>ID#:            <%= @ticket.id %></p>
<p>Subject:        <%= @ticket.subject %></p>
<%if @ticket.user%>
<p>User:           <%= @ticket.user.login %></p>
<%end%>
<p>Email:          <%= mail_to @ticket.email %></p>
<p>Priority:       <%= @ticket.priority.capitalize %></p>
<p>Current Status: <%= @ticket.status %></p>
<p>Created at:     <%= @ticket.created_at.strftime("%d/%m/%Y") %></p>

<p>
Message: <br>
<%= @ticket.message  %>
</p>

<p><%=link_to "Edit", "" %> | <%=link_to "View", "" %></p>