<div>
  <%= render :partial => 'member/boats/submenu/menu'%>
</div>
<% content_for :title do %>Support : Reply to Ticket ID#<%=@parent.id%>: <%=@parent.subject%><% end %>
   <div>
    
            <% form_for :ticket, :url => member_reply_path(@parent.id,@answer.id), :html => { :method => :post } do |f| %>
            <%= render :partial => 'member/support/form', :locals =>{:f=>f} %>
            <p><span id="required">*</span>-Required </p>
            <div id="buttons">
              <%= submit_tag  "Reply"%>
              <%=link_to "Cancel", {:action=>:show, :id=>@parent.id}%>
            </div>
      <%end%>
    
  </div>