<% content_for :title do %>Team member Home<% end %>
<div>
  <%= render :partial => 'team/website/submenu/menu'%>
</div>
<%slug = @team.name.to_slug%>
<div id="step5">

 <div class="left">
    
 <table class="box">
  <tr>
    <td><h2>Your Team</h2></td>
    <td width="100"> </td>
  </tr>
  <tr>
      <td colspan="2" valign="top"><%=@team.name%></td>
  </tr>
  <tr>
      <td colspan="2" valign="top"><%=@team.url%><br><br>
        <%= image_tag( @team.image.public_filename(:thumb), :id=>"logo" ) if @team.image%> 
      </td>
  </tr>
  <tr>
      <td colspan="2" valign="top"><br>Team Profile:<br/><br/>
      <span class='notice'><%=@team.description%></span>
        </td>
  </tr>
  <tr>
      <td colspan="2" valign="top">Created at: <%=@team.created_at.strftime("%d/%m/%Y")%></td>
  </tr>   
</table>
<!--  total number of paddlers Invited, accepted, declined -->
 <table class="box">
  <tr>
    <td><h2>Total number of paddlers</h2></td>
    <td width="100"><%=link_to "view",  team_members_path(slug) %></td>
  </tr>
  <tr>
    <td>Invited</td>
    <td><%= @paddlers %></td>
  </tr>
  <tr>
    <td>Accepted</td>
    <td><%=@paddlers_accessibled %></td>
  </tr>
  <tr>
    <td>Declined</td>
    <td><%=@paddlers_declined%></td>
  </tr>
</table>

<!-- Scheduled Practice Dates -->
 <table class="box">
  <tr>
    <td colspan="2"><h2>Scheduled Practice Dates</h2></td>
    <td width="100"></td>
  </tr>

  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Assisted by</th>
  </tr>

  <% @current_practices.each do |p|%>
   <tr>
     <td class="specialDay-current_reserved"><%=p.date%></td>
     <td class="specialDay-current_reserved"><%=p.time%></td>
     <td class="specialDay-current_reserved" style="text-align:left;">
       <%="<br>Launch Driver: #{p.launch_driver}" if p.launch_driver && !p.launch_driver.empty?%>
       <%="<br>Steersperson: #{p.steers_person}" if p.steers_person && !p.steers_person.empty?%>
     </td>
   </tr>
  <%end%>

</table>
  </div>
  <!-- Right Side -->
 <table class="box">
    <tr>
    <td><h2>Captain Personal Details</h2></td>
    <td width="100"></td>
  </tr>
  <tr>
    <td colspan="2" valign="top">
    <%= @captain.first_name %> <%= @captain.last_name %><br>
    <%= @captain.email %><br>
    home:<%= @captain.phone %><br>
    cell: <%= @captain.phone_2 %><br>
    </td>
  </tr>
</table>

  <table class="box">
    <tr>
    <td><h2>Personal Details</h2></td>
    <td width="100"><%=link_to "edit",   team_user_path(slug)%></td>
  </tr>
  <tr>
    <td colspan="2" valign="top">
    <%= @person.first_name %> <%= @person.last_name %><br>
    <%= @person.email %><br>
    home:<%= @person.phone %><br>
    cell: <%= @person.phone_2 %><br>
    </td>
  </tr>
</table>

<!-- Total Tents and reserved tent position  -->
<table class="box">
  <tr>
    <td><h2>Tents</h2></td>
    <td width="100">
    </td>
  </tr>
   <tr>
    <td>Total:</td>
    <td><%=@tents.size%></td>
  </tr>
  <tr>
    <td>Reserved:</td>
    <td><%= @team.tents.find_not_empty(:all).size%></td>
  </tr>
  <tr>
    <td>Current Tent Position:</td>
    <td><%=@team.tents.find_not_empty(:all).map(&:location).join(",")%></td>
  </tr>
  
</table>

<div class="clearEm">&nbsp;&nbsp;</div>
</div>