<% content_for :title do %>Step 3 - Select Tents<% end %>
<% content_for :breadcrumbing_area do%>
<h1>Team Registration > Step 3 - Select Tents</h1>
<%end%>
<% content_for :submenu_area do%>
  <div id="submenu_section">
    <!--[if lte IE 6]>
            <%=javascript_tag "document.getElementById('content_td').style.background='#F7941D';"%>
    <![endif]-->
    <%=javascript_tag "document.getElementById('content').style.background='#F7941D';"%>
    <%= render :partial => 'partials/order_step_list', :locals =>{:s1=>"previous", :s2=>"previous", :s3=>"current", :s4=>"next", :s5=>"next", :s6=>"next"} %>    
  </div>
<%end%>
<% content_for  :current_page_name do%>
  Select Tents
<%end%>
<!-- This is a snippet being edited by admin. Snippet Name "Registration Instructions" -->
  <%= render :comatose=>'step3-instructions', :silent=>true %>
<!-- -->
  <div id="step3">
   <h3> <span>Boat</span>: <span class="header"><%=@team.name%></span></h3> 

  
      <% form_for :boat, :url => { :action => 'add_extras', :id=>@team.id }, :html => { :multipart => true, :id=>"extras_form" } do |f| %>
   
      <%# render :partial => 'extras_item', :locals=>{:mode=>:write, :items=>@extras}%>
      
      <%= render :partial => 'extras_form'%>
          
    
        <div align="center">
           <br/>
            <%# link_to("Cancel", member_new_boat_path ) %> 
        </div>
    <%end%>
    
    <%= observe_form(:extras_form,
                                  :url => { :action => 'total_cost'},
                                #   :frequency => 0.5,  
                                  # :update => "step3",
                                   #:with => "Form.serialize($('extras_form').form)") 
                                   :frequency  =>  0.5)%> 
                                 </div>