<% content_for :title do %>Step 3 - Add Extras<% end %>
<% content_for :breadcrumbing_area do%>
<h1>Team Registration > Step 3 - Add Extras</h1>
<%end%>
<% content_for :submenu_area do%>
  <div id="submenu_section">
    <%=javascript_tag "document.getElementById('content').style.background='#F7941D';"%>
    <%= render :partial => 'partials/order_step_list', :locals =>{:s1=>"previous", :s2=>"previous", :s3=>"current", :s4=>"next", :s5=>"next", :s6=>"next"} %>    
  </div>
<%end%>
<% content_for  :current_page_name do%>
  Add Extras
<%end%>
<!-- This is a snippet being edited by admin. Snippet Name "Registration Instructions" -->
  <%= render :comatose=>'step3-instructions', :silent=>true %>
<!-- -->
  <div>
    <h2>Boat: <%=@team.name%></h2> 

    <fieldset>
      <legend>Step 3 - Add Extras</legend>
      <% form_for :boat, :url => { :action => 'add_extras', :id=>@team.id }, :html => { :multipart => true } do |f| %>
   
      <%= render :partial => 'extras_item', :locals=>{:mode=>:write, :items=>@extras}%>
     

    
        <div id="buttons">
            <%= submit_tag  "Checkout"%><br/>
            <%# link_to("Cancel", member_new_boat_path ) %> 
        </div>
    <%end%>
    </fieldset>
  </div>