<% content_for :title do %>Your Teams<% end %>

<% content_for :breadcrumbing_area do %>
<h1>Select a Team</h1>
<% end %>

<h2>Your Teams</h2>
<div class="instructions">
  <%= render :comatose=>'team-list-instructions', :silent=>true %>
</div>

<div id="boat_list">
  <% @teams.each do |team|%>
	<div class="team">
		<%= link_to(image_tag( team.image.public_filename(:thumb), :id=>"logo" ), member_boat_url(team) ) if team.image%>
		<h3><%=link_to team.name,  member_boat_url(team)%></h3>
		<p><%= h team.description%></p>
	</div>
  <%end%>
</div>

<div class="page-link"><%= link_to "Register Another Team", register_user_url, :class=>"menu"%></div>