<% content_for :title do %>Step 2 - Enter Boat Details<% end %>
<% content_for :breadcrumbing_area do%>
<h1>Team Registration > Step 2 - Enter Boat Details</h1>
<%end%>
<% content_for :submenu_area do%>
  <div id="submenu_section">
    <%=javascript_tag "document.getElementById('content').style.background='#F7941D';"%>
    <%= render :partial => 'partials/order_step_list', :locals =>{:s1=>"previous", :s2=>"current", :s3=>"next", :s4=>"next", :s5=>"next", :s6=>"next"} %>
  </div>
<%end%>
<% content_for  :current_page_name do%>
  Enter Boat Details
<%end%>
<!-- This is a snippet being edited by admin. Snippet Name "Registration Instructions" -->
  <%= render :comatose=>'step2-instructions', :silent=>true %>
<!-- -->
<div>
    <fieldset>
    <legend>Step 2 - Enter Boat Details</legend>
    <% form_for :team, :url => { :action => 'create' }, :html => { :multipart => true } do |f| %>
    <%= error_messages_for :team %>
    
     <%= render :partial => 'form', :locals =>{:f=>f} %>
    
        
        <div id="buttons">
            <%= submit_tag  "Confirm"%><br/>
        </div>
    <%end%>
    </fieldset>
</div>