<% content_for :title do %>Step 2 - Enter Team Details<% end %>
<% content_for :breadcrumbing_area do%>
<h1>Team Registration > Step 2 - Enter Team Details</h1>
<%end%>
<% content_for :submenu_area do%>
<%= render :partial => 'partials/order_step_list', :locals =>{:s1=>"previous", :s2=>"current", :s3=>"next", :s4=>"next", :s5=>"next", :s6=>"next"} %>
<%end%>
<% content_for  :current_page_name do%>
  Enter Team Details
<%end%>
<!-- This is a snippet being edited by admin. Snippet Name "Registration Instructions" -->
  <%= render :comatose=>'step2-instructions', :silent=>true %>
<!-- -->
<div>
   
    <% form_for :team, :url => { :action => 'create' }, :html => { :multipart => true } do |f| %>
    <%= error_messages_for :team %>
    
     <%= render :partial => 'form', :locals =>{:f=>f} %>
    
        
        <div id="buttons">
            <br>
            <%= submit_tag  "CONTINUE REGISTRATION"%><br/>
        </div>
    <%end%>
 
</div>