<% content_for :title do %>Manage: <%=CGI.unescapeHTML(@team.name)%><% end %>

<div>
  <%= render :partial => 'member/boats/submenu/menu'%>
</div>
<div id="step5">

 <div class="left">
    
 <table class="box">
  <tr>
    <td><h2>Your Team</h2></td>
    <td width="100"> <%=link_to "edit", member_edit_boat_url(@team.id) %></td>
  </tr>
  <tr>
      <td colspan="2" valign="top"><%=@team.name%></td>
  </tr>
  <tr>
      <td colspan="2" valign="top"><%=@team.url%><br><br>
        <%= image_tag( @team.image.public_filename(:thumb), :id=>"logo" ) if @team.image%> 
      </td>
  </tr>
  <tr>
      <td colspan="2" valign="top"><br>Team Profile:<br/><br/>
      <span class='notice'><%=@team.description%></span>
        </td>
  </tr>
  <tr>
      <td colspan="2" valign="top">Created at: <%=@team.created_at.strftime("%d/%m/%Y")%></td>
  </tr>   
</table>
<!--  total number of paddlers Invited, accepted, declined -->
 <table class="box">
  <tr>
    <td><h2>Total number of paddlers</h2></td>
    <td width="100"><%=link_to "edit",  member_team_members_path(@team) %></td>
  </tr>
  <tr>
    <td>Invited</td>
    <td><%= @paddlers %></td>
  </tr>
  <tr>
    <td>Accepted</td>
    <td><%=@paddlers_accessibled %></td>
  </tr>
  <tr>
    <td>Declined</td>
    <td><%=@paddlers_declined%></td>
  </tr>
</table>

<!-- Scheduled Practice Dates -->
 <table class="box">
  <tr>
    <td colspan="2"><h2>Scheduled Practice Dates</h2></td>
    <td width="100"><%=link_to "edit",member_team_practices_path(@team)%></td>
  </tr>

  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Assisted by</th>
  </tr>

  <% @current_practices.each do |p|%>
   <tr>
     <td class="specialDay-current_reserved"><%=p.date%></td>
     <td class="specialDay-current_reserved"><%=p.time%></td>
     <td class="specialDay-current_reserved" style="text-align:left;">
       <%="<br>Launch Driver: #{p.launch_driver}" if p.launch_driver && !p.launch_driver.empty?%>
       <%="<br>Steersperson: #{p.steers_person}" if p.steers_person && !p.steers_person.empty?%>
     </td>
   </tr>
  <%end%>

</table>
  </div>
  <!-- Right Side -->
  <%if @person != @captain%>
  <table class="box">
    <tr>
    <td><h2>Captain Personal Details</h2></td>
    <td width="100"></td>
  </tr>
  <tr>
    <td colspan="2" valign="top">
    <%= @captain.first_name %> <%= @captain.last_name %><br>
    <%= @captain.email %><br>
    home:<%= @captain.phone %><br>
    cell: <%= @captain.phone_2 %><br>
    </td>
  </tr>
</table>
  <%end%>


<!-- Total Tents and reserved tent position  -->
<table class="box">
  <tr>
    <td><h2>Tents</h2></td>
    <td width="100">
        <%if @team.tents.size>0%>
        <%= link_to 'edit', member_team_tents_path(@team.id)%>
        <%end%>
    </td>
  </tr>
   <tr>
    <td>Total:</td>
    <td><%=@tents.size%></td>
  </tr>
  <tr>
    <td>Reserved:</td>
    <td><%= @team.tents.find_not_empty(:all).size%></td>
  </tr>
  <tr>
    <td>Current Tent Position:</td>
    <td><%=@team.tents.find_not_empty(:all).map(&:location).join(",")%></td>
  </tr>
  <tr>
    <td colspan="2"><%= link_to 'Purchase More Tents', member_extras_boat_url(@team)%></td>
  </tr>
  
</table>
<table class="box" style="padding-top:25px;">
  <tr>
    <td><%= link_to "Register Another Team", register_user_url%></td>
  </tr>
</table>

<div class="clearEm">&nbsp;&nbsp;</div>
</div>
  