<% content_for :title do %>Tent Positions List<% end %>
<h1 class="index">Tent Positions List</h1>
<div id="submenu">
  <%= link_to 'Manage Team Tents', admin_team_tents_url  %> |
  <%= link_to 'Tents to CSV', admin_tent_positions_to_csv_url  %>
  
</div>
<div id="pages"><%= will_paginate @tent_positions %></div>
<%= render :partial => 'list'%>
<div id="pages"><%= will_paginate  @tent_positions %></div>