<% content_for :title do %><%=@team.name%> : Select Tents<% end %>
<div>
  <%= render :partial => 'member/boats/submenu/menu'%>
</div>

<h1>Select Tents</h1>
<div class="instructions">
  <%= render :comatose=>'select-tent-position-instructions', :silent=>true %>
</div>

<p>You have reserved <%= @team.tents.find_not_empty(:all).size%> main tents in the following position(s): <%=@team.tents.find_not_empty(:all).map(&:location).join(",")%><br />
You have a total of <%=@tents.size%> tents purchased. <%= link_to 'Purchase More Tents', member_extras_boat_url(@team)%>
</p>





 <!--[if lte IE 6]><table valign="top" width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" background="#fff"><tr><td width="1%"><![endif]-->
<%= link_to image_tag("tents_graphic.jpg", :border=>"0", :id=>"tents_graphic"), "/images/tents_graphic.jpg"%>
 <!--[if lte IE 6]></td><td><![endif]-->
<div id="tent_positions_list">
  <h2>Tent Positions</h2>


<div id="tent_positions" class="tent_positions">
  <%= render :partial => 'tent_location'%>
</div>
</div>
<!--[if lte IE 6]></td><tr></table><![endif]-->
<div class="clearEm">&nbsp;&nbsp;</div>




