<% content_for :title do %><%=@team.name%> : Select Tents<% end %>
<div>
  <%= render :partial => 'member/boats/submenu/menu'%>
</div>

<h1>Select Tents</h1>
<div class="instructions">
  <%= render :comatose=>'select-tent-position-instructions', :silent=>true %>
</div>

 <!--[if lte IE 6]><table valign="top" width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" background="#fff"><tr><td width="1%"><![endif]-->
<%= link_to image_tag("tents_graphic.jpg", :border=>"0", :id=>"tents_graphic"), "/images/tents_graphic.jpg"%>
 <!--[if lte IE 6]></td><td><![endif]-->
<div id="tent_positions_list">
  <div  id="step5">
<table class="box">
  <tr>
    <td><%= link_to 'Purchase More Tents', member_extras_boat_url(@team)%></td>
  </tr>
</table>
</div>
  <h2>Position List</h2>

<div class="tent_positions">
  <table>
    <tr><td><b>Position legend:</b></td></tr>
    <tr>
      <td><div id="current_reserved">Your Tent</div></td>
    </tr>
    <tr>
      <td id="reserved">Reserved</td>
    </tr>
     <tr>
      <td id="available">Available</td>
    </tr>
  </table>
  
</div>

<div id="tent_positions" class="tent_positions">
  <%= render :partial => 'tent_location'%>
</div>
</div>
<!--[if lte IE 6]></td><tr></table><![endif]-->
<div class="clearEm">&nbsp;&nbsp;</div>




