<div>
  <%= render :partial => 'member/boats/submenu/menu'%>
</div>
<% content_for :title do %>Listing Orphaned Paddlers<% end %>
<h1>Other Paddlers</h1>
<div class="instructions">
  <%= render :comatose=>'listing-orphaned-paddlers-instructions', :silent=>true %>
</div>
<div id="pages"><%= will_paginate @paddlers %></div>
<%= render :partial => 'list'%>
<div id="pages"><%= will_paginate @paddlers %></div>