<% content_for :title do %>Manage Orphaned Paddlers : Invite to join team<% end %>
<h1>Invite to join team</h1>

<%= error_messages_for :member %>

<% form_for(:member, :url => member_create_member_path(@paddler.id), :html=>{:method=>:put}) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <span id="required">*</span>-Required <br/>
  <%= f.submit "Confirm" %>
<% end %>

<%= link_to 'Details', member_paddler_path(@paddler.id) %> |
<%= link_to 'Back', member_paddlers_path %>