<% content_for :title do %>Registration Complete<% end %>
<% content_for :breadcrumbing_area do%>
<h1>Team Registration > Registration Complete</h1>
<%end%>
<% content_for :submenu_area do%>
    <%= render :partial => 'partials/order_step_list', :locals =>{:s1=>"previous", :s2=>"previous", :s3=>"previous", :s4=>"previous", :s5=>"previous", :s6=>"current"} %>
<%end%>
<% content_for  :current_page_name do%>
  Team Registration Complete
<%end%>

 <!-- This is a snippet being edited by admin. Snippet Name "Registration Instructions" -->
        <%= render :comatose=>'step6-instructions', :silent=>true %>
<!-- -->

<h2>Congratulations, you have successfully registered your team!</h2>
<!--
<h3><%=@team.name%></h3>
for the 2009 Philadelphia International Dragon Boat Festival-->
    
    <%# "Please proceed to #{link_to('Select your tent position', member_team_tents_path(@team.id))}." if @team.tents.size>0 %>

  <div>
    <p>Now that you have registered your team you can:</p>
    <ul id="none_style">
    <li><strong><%=link_to "Update your team's details", member_edit_boat_url(@team) %></strong> - update your team's name, profile, logo, and website</li>
    <li><strong><%= link_to "Manage your team", member_team_members_path(@team)%></strong> - Invite paddlers to join your team</li>
    <li><strong><%= link_to "Schedule your practices", member_team_practices_path(@team)%></strong> - choose one date/time each month for a team practice on the Schuylkill River</li>
    <%if @team.tents.size>0%>
      <li><strong><%= link_to "Reserve your tent position", member_team_tents_path(@team)%></strong> - pick the spot where your team will rest in the Athletes Village</li>
    <%end%>
    </ul>

 </div>