<% content_for :title do %>Step 5 - Verify Details<% end %>
<% content_for :breadcrumbing_area do%>
<h1>Team Registration > Step 5 - Verify Details</h1>
<%end%>
<% content_for :submenu_area do%>
  <div id="submenu_section">
    <%=javascript_tag "document.getElementById('content').style.background='#F7941D';"%>
     <%= render :partial => 'partials/order_step_list', :locals =>{:s1=>"previous", :s2=>"previous", :s3=>"previous", :s4=>"previous", :s5=>"current", :s6=>"next"} %>
  </div>
<%end%>
<% content_for  :current_page_name do%>
  Verify Details
<%end%>
<!-- This is a snippet being edited by admin. Snippet Name "Registration Instructions" -->
  <%= render :comatose=>'step5-instructions', :silent=>true %>
<!-- -->
<h2>Boat: <%=@team.name%></h2> 
   
    <fieldset>
    <legend>Step 5 - Verify Registration Details</legend>
<h4>Your Details</h4>
<%= @person.first_name %>
<%= @person.last_name %><br>
<%= @person.email %><br>
<%= @person.phone %>
<h4>Credit Card</h4>
<%= @credit_card.type %><br>
<%= @credit_card.first_name %>
<%= @credit_card.last_name %><br>
<%= @credit_card.display_number %><br>
<%= @credit_card.month %> - <%= @credit_card.year %>
<h4>Billing Address</h4>
<%= @person.address %><br>
<%= @person.city %><br>
<%= @person.zip %><br>
<%= @person.state %><br>
<%= @person.country %><br>

<h4>Your Ordered: </h4>
<h5>Boat</h5>
<%= render :partial => 'member/boats/boat'%><br>

<h5>Extras</h5>
<%if @team.team_extras.size>0%>
<%= render :partial => 'member/boats/extras_item', :locals=>{:mode=>:read, :items=>@team.team_extras.map(&:extras)}%>
<%else%>
-- no item was selected --
<%end%>
<br>

<h5>TOTAL PAY:</h5>
<strong><%= number_to_currency @team.total%></strong>

<% form_for :order, @order, :url => {:action => "place_order"} do |f| %>

     <% fields_for :person, @person do |p| %>
        <%= p.hidden_field :first_name %>
        <%= p.hidden_field :last_name %>
        <%= p.hidden_field :email %>
        <%= p.hidden_field :phone %>
     <% end %>

    <% fields_for :credit_card, @credit_card do |cc| %>
       <%= cc.hidden_field :type %>
       <%= cc.hidden_field :first_name %>
       <%= cc.hidden_field :last_name %>
       <%= cc.hidden_field :number %>
       <%= cc.hidden_field :month %>
       <%= cc.hidden_field :year %>
       <%= cc.hidden_field :verification_value, :label => "CVV2" %>
    <% end %>

      <% fields_for :person, @person do |p| %>
        <%= p.hidden_field :address %>
        <%= p.hidden_field :zip %>
        <%= p.hidden_field :city %>
        <%= p.hidden_field :country %>
        <%= p.hidden_field :state %>
        <% end %>
   

        <%= f.submit "Complete Boat Registration" %>

<% end %>
 <!-- This is a snippet being edited by admin. Snippet Name "Confirm Order" -->
  <%= render :comatose=>'confirm-order', :silent=>true %>
  <!-- -->
</fieldset>
