<% @tents = @team.tents  %>
<%= render :partial => 'registration_header_5' unless @team.active? %>
<%= render :partial => 'purchase_tents_header_3' if @team.active? %>
        
       <!-- This is a snippet being edited by admin. Snippet Name "Registration Instructions" -->
        <%= render :comatose=>'step5-instructions', :silent=>true %>
        <!-- -->
<div id="step5">




	<div id="team-details">
	<h2>Your Team: <%=@team.name%></h2>
        <b>Team Type</b>: <%=@team.boat_type_human%> <br/>
        
		<b>New team?</b>: <%=@team.visit_status.to_s.capitalize%> <br/>
        <b>Team Profile</b>: 
        <p>
        <span class='team-profile'><%=@team.description%></span>
        </p>
		<br/>
		<b>Team Logo</b>: <%= image_tag( @team.image.public_filename(:thumb), :id=>"logo" ) if @team.image%> 		<br/>

            <%tents = 0%>
            <%@team.team_extras.map(&:extras).each do |item|%>
            <%
            team_extras= item.team_extras.find_by_team_id(@team.id)
            quantity = team_extras.quantity if team_extras
             tents+=quantity %>
        <%end%>
        <b>Total tents ordered</b>: <%=tents%> <br/>
    	
	</div>        

	<div id="billing-details">
	<h2>Billing Details</h2>

	<%#link_to "edit", member_boat_checkout_path(@team)%>
   <b>Card Type</b>: <%= @credit_card.type.capitalize %><br>
   <b>Name on Card</b>: <%= @credit_card.first_name %> <%= @credit_card.last_name %><br>
   <b>Card Number</b>: <%= @credit_card.display_number %><br>
   <b>Expiration Date</b>: <%= @credit_card.month %> / <%= @credit_card.year %><br>
   <b>Billing Address</b>: <%= "#{@billing.address} #{@billing.address2} #{@billing.city}, #{@billing.state} #{@billing.zip}" %>
	</div>

	<div id="captain-details">
	<h2>Captain Details</h2>
	<%#link_to "edit",  member_edit_profile_url(@team)%>

    <strong>Captain Name:</strong> <%= @person.name %><br>
    <strong>Captain Email Address:</strong> <%= @person.email %><br>
      
            <b>Address</b>:<br/>
			<%= @person.address %> <%= @person.address2 %><br>
			<%= @person.city %>, <%= @person.state%> <%= @person.zip%><br>
			<%=  @person.country %><br>
              
    <%= @person.phone %><br>
    <%= @person.phone_2 %><br>
	</div>


<div id="order-details">
<h1>Order Total</h1>

<table class="big-box" cellspadding="0" cellspacing="0">
 
  <%unless @team.active?%>
  <tr>
    <td width="400"><%=@team.boat_type_human%> : <%=@team.name%> </td>
    <td width="200" align="right"><%=number_to_currency(@team.price)%></td>
  </tr>
  <%end%>
  <%@team.team_extras.map(&:extras).each do |item|%>
  <%team_extras= item.team_extras.find_by_team_id(@team.id)%>
  <%quantity = team_extras.quantity if team_extras%>
  <% default = quantity ?  quantity : 1 %>
  <%if quantity>0%>
  <tr>
    <td><%=quantity%> <%=item.name%></td>
    <td width="200" align="right"><%=number_to_currency item.price*quantity%></td>
  </tr>
  <%end%>
  <%end%>
  <tr class='total'>
    <td>Total Charge</td>
    <td width="200" align="right"><%= number_to_currency @team.total%></td>
  </tr>
</table>
</div>


     <div class="notice">
        <%= render :comatose=>'step5-instructions-2', :silent=>true %>
     </div>

        <% form_for :order, @order, :url => {:action => "place_order"}, :html=>{:id=>"order_form"} do |f| %>

<% fields_for :person, @person do |p| %>
<%= p.hidden_field :first_name %>
<%= p.hidden_field :last_name %>
<%= p.hidden_field :email %>
<%= p.hidden_field :phone %>
<% end %>

<% fields_for :credit_card, @credit_card do |cc| %>
<%= cc.hidden_field :type %>
<%= cc.hidden_field :first_name %>
<%= cc.hidden_field :last_name %>
<%= cc.hidden_field :number %>
<%= cc.hidden_field :month %>
<%= cc.hidden_field :year %>
<%= cc.hidden_field :verification_value%>
<% end %>

<% fields_for :person, @billing do |p| %>
<%= p.hidden_field :address %>
<%= p.hidden_field :address2 %>
<%= p.hidden_field :zip %>
<%= p.hidden_field :city %>
<%= p.hidden_field :country %>
<%= p.hidden_field :state %>
<% end %>


<%= f.submit "COMPLETE REGISTRATION" %>

<% end %>


<div class="clearEm">&nbsp;&nbsp;</div>

</div>
