<% content_for :title do %>Registration Complete<% end %>
<% content_for :breadcrumbing_area do%>
<h1>Team Registration > Registration Complete</h1>
<%end%>
<% content_for :submenu_area do%>
  <div id="submenu_section">
    <%=javascript_tag "document.getElementById('content').style.background='#F7941D';"%>
    <%= render :partial => 'partials/order_step_list', :locals =>{:s1=>"previous", :s2=>"previous", :s3=>"previous", :s4=>"previous", :s5=>"previous", :s6=>"current"} %>
  </div>
<%end%>
<% content_for  :current_page_name do%>
  Registration Complete
<%end%>
<!-- This is a snippet being edited by admin. Snippet Name "Registration Instructions" -->
  <%= render :comatose=>'registration-complete-instructions', :silent=>true %>
<!-- -->

<div>
<h2>Thanks for your order!</h2>

<% content_tag :fieldset do %> 
  <%= content_tag :legend, "Your Details" %>
   Name: <%= @person.name %><br>
   E-mail: <%= @person.email %><br>
   Phone Number: <%= @person.phone %><br>
<% end %>

<% content_tag :fieldset do %> 
  <%= content_tag :legend, "Your Account" %>
   Login: <%=@user.login%><br>
   E-mail: <%=@user.email%><br>
   Type: <%=@user.type%>
<% end %>

<% content_tag :fieldset do %> 
  <%= content_tag :legend, "Billing Address" %>
  Street Address 1:  <%= @person.address %><br>
  Street Address 2:  <%= @person.address2 %><br>
  City:  <%= @person.city %><br>
  Zip:  <%= @person.zip %><br>
  State:  <%= @person.state %><br>
  Country:  <%= @person.country %><br>
<% end %>

<% content_tag :fieldset do %> 
  <%= content_tag :legend, "Your Ordered" %>
    <% content_tag :fieldset do %> 
    <%= content_tag :legend, "Boat" %>
    <%= render :partial => 'member/boats/boat'%><br>
    <% end %>
    <% content_tag :fieldset do %> 
    <%= content_tag :legend, "Extras" %>
    <%if @order.extras_orders.size>0%>
        <%= render :partial => 'member/order/extras_item', :locals=>{:orders=>@order.extras_orders}%>
    <%else%>
        -- no item was selected --
    <%end%>
    <br>
    <% end %>
    <h5>TOTAL PAY:</h5> <strong><%=number_to_currency @order.total_pay%></strong>
    <% end %>
    
    <% content_tag :fieldset do %> 
    <%= content_tag :legend, "Payment Info" %>
    Your credit card had been charged: <%=number_to_currency @order.total_pay %>
    <% end %>
    
    </div>
    <%=link_to "Go to Boat Home Page", member_boats_path %>
    