<% content_for :title do %>Registration Complete<% end %>
<% content_for :breadcrumbing_area do%>
<h1>Team Registration > Registration Complete</h1>
<%end%>
<% content_for :submenu_area do%>
    <%= render :partial => 'partials/order_step_list', :locals =>{:s1=>"previous", :s2=>"previous", :s3=>"previous", :s4=>"previous", :s5=>"previous", :s6=>"current"} %>
<%end%>
<% content_for  :current_page_name do%>
  Registration Complete
<%end%>

<h2>Thank you! You have successfully registered your team! 
    <%= "Please proceed to #{link_to('Select your tent position', member_team_tents_path(@team.id))}." if @team.tents.size>0 %>
</h2>


<div id="step5">
  <h4><%=@team.name%></h4>
  <div class="left">
  <table class="box">
  <tr>
    <td><h2>Personal Details</h2></td>
    <td width="100"><%=link_to "edit",  member_edit_user_path%></td>
  </tr>
  <tr>
    <td colspan="2" valign="top">
    <%= @billing.first_name %> <%= @billing.last_name %><br>
    <%= @billing.email %><br>
    home:<%= @billing.phone %><br>
    cell: <%= @billing.phone_2 %><br>
    Username: <%=@user.login%><br>
    Type: <%=@user.type%>
    </td>
  </tr>
</table>

<table class="box">
  <tr>
    <td><h2>Billing Address</h2></td>
    <td width="100"></td>
  </tr>
  <tr>
    <td colspan="2" valign="top">
     Street Address 1:  <%= @billing.address %><br>
     Street Address 2:  <%= @billing.address2 %><br>
     City:  <%= @billing.city %><br>
     Zip Code:  <%= @billing.zip %><br>
     State:  <%= @billing.state %><br>
     Country:  <%= @billing.country %><br>
    </td>
  </tr>
</table>
</div>



<table class="box">
  <tr>
    <td><h2>Your Team</h2></td>
    <td width="100"> <%=link_to "edit", member_edit_boat_url(@team.id) %></td>
  </tr>
  <tr>
      <td colspan="2" valign="top"><%=@team.name.upcase%></td>
  </tr>
  <tr>
      <td colspan="2" valign="top"><%=@team.url%><br><br>
        <%= image_tag( @team.image.public_filename(:thumb), :id=>"logo" ) if @team.image%> 
      </td>
  </tr>
  <tr>
      <td colspan="2" valign="top"><br>Team Biography:<br/><br/>
      <span class='notice'><%=@team.description%></span>
        </td>
  </tr>    

</table>

<div class="clearEm">&nbsp;&nbsp;</div>


<h1>Your Order</h1>
<div class="left">
<table class="big-box" cellspadding="0" cellspacing="0">
  <tr>
    <td><%=@team.boat_type_human%></td>
    <td width="100" align="right"><%=number_to_currency @team.price%></td>
  </tr>
  <%@order.extras_orders.each do |order|%>
  <%extras= order.extras%>
  <%quantity = order.quantity%>
  <% default = quantity %>
  <%if quantity>0%>
  <tr>
    <td><%=quantity%> <%=extras.name%></td>
    <td width="100" align="right"><%=number_to_currency order.pay*quantity%></td>
  </tr>
  <%end%>
  <%end%>
  <tr class='total'>
    <td>Total Charge</td>
    <td width="100" align="right"><%=number_to_currency @order.total_pay%></td>
  </tr>
</table>
</div>

<table class="box">
  <tr>
    <td class='notice' height="65" valign="top">
     <!-- This is a snippet being edited by admin. Snippet Name "Registration Instructions" -->
        <%= render :comatose=>'registration-complete-instructions', :silent=>true %>
    <!-- -->
    <p><%= link_to 'Select tent position', member_team_tents_path(@team.id) if @team.tents.size>0 %></p>
    <p> <%=link_to "Go to Boat Home Page", member_boats_path %></p>  
    </td>
  </tr>
  <tr>
      <td valig="bottom">
     
      
   
        <%=button_to "Thanks", member_team_members_path(@team.id)%>
      </td>
    </tr>
</table>

<div class="clearEm">&nbsp;&nbsp;</div>

</div>
    


   

   
    