<% content_for :title do %>Manage Team Members : Member Access Info<% end %>
<% content_for :scripts do %>
<%=  stylesheet_link_tag 'print_style', :media => 'print' %>
<% end %>
<div>
  <%= render :partial => 'member/boats/submenu/menu'%>
</div>
<div class="to_print">
  <h1>Member Access Info</h1>
  <h2><%=@person.name%></h2>
  <table class="for_printing">
    <tr>
      <td>Code number:</td>
      <td><%=@user.code%></td>
    </tr>
    <tr>
      <td>URL to login with a single code number:</td>
      <td><%= link_to team_url_code_url(:slug => @team.name.to_slug, :url_code => @user.code), team_url_code_url(:slug => @team.name.to_slug, :url_code => @user.code) %></td>
    </tr>
  </table>
</div> 

<div align="center">
 <%= button_to_function 'Print', 'print_page()', :id => "printLink" %>
</div>
<%= link_to 'Back', member_team_members_path(@team)%>
