<% content_for :title do %>Manage Team Members : Edit Team Member<% end %>
<div>
  <%= render :partial => 'member/boats/submenu/menu'%>
</div>

<h1>Editing Team Member: <%= @member.user.person.name %></h1>
<div class="instructions">
  <%= render :comatose=>'edit-team-member-instructions', :silent=>true %>
</div>
<%= error_messages_for :member %>

<% form_for(:member, :url => member_team_members_path(@team,"update",@member.id), :html=>{:method=>:put}) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit "Save Team Member Information" %>&nbsp;<%= link_to 'Cancel', member_team_members_path(@team)%>
<% end %>



