<% content_for :title do %>Manage Team Members : Show Team Member<% end %>
<div>
  <%= render :partial => 'member/boats/submenu/menu'%>
</div>

<h1>Team Member Detail Info</h1>
<div class="instructions">
  <%= render :comatose=>'show-team-member-instructions', :silent=>true %>
</div>
<%= render :partial => 'member/members/member'%>

<%= link_to 'Edit', member_team_members_path(@team, "edit", @member.id) %> |

<%= link_to 'Back', member_team_members_path(@team)%>
