<% content_for :title do %>View Paddler<% end %>
<div>
  <%= render :partial => 'admin/teams/submenu/menu'%>
</div>
<h1>View Paddler</h1>

<%= render :partial => 'member'%>


<%= link_to 'Edit', admin_edit_paddler_path(@team,@paddler.id) %> |

<%= link_to 'Access Info', admin_access_paddler_path(@team,@paddler.id) %> |
<%= link_to 'Back', admin_paddlers_path(@team)%>
