<% content_for :title do %><%=@team.name%> : Team Editing<% end %>

<h1>Team Editing</h1>
<%= error_messages_for :team %>

<% form_for(:team, :url => admin_team_path(@team.id), :html=>{:method=>:put,:multipart => true }) do |f| %>
  
  <%= render :partial => 'form', :locals =>{:f=>f} %>

  <div id="team_logo">
  <%= render :partial => 'logo', :locals =>{:image=>@team.image} %>
   </div>
<% fields_for :image do |image| %>
Select File: <%= image.file_field :uploaded_data %>
<%end%>
<br/>
 <span id="required">*</span>-requered <br/>
  <%= f.submit "Update" %>
<% end %> 

<%= link_to 'Back', member_boats_path%>
